{% extends 'base.html' %}

{% load rating_tags static compress comments wagtailimages_tags wagtailcore_tags %}

{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    	{% compress css %}
	    <!-- OWL CAROUSEL -->
	    <link rel="stylesheet" type="text/css" href="{% static 'plugins/owl-carousel/owl.carousel.css' %}">
	    <link rel="stylesheet" type="text/css" href="{% static 'plugins/owl-carousel/owl.theme.css' %}">
	    <link rel="stylesheet" type="text/css" href="{% static 'plugins/owl-carousel/owl.transitions.css' %}">
	    
	    <!-- CUSTOM CSS -->
	    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/hovereffects.css' %}">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/festivaladvisor.css' %}">
	    {% endcompress %}
{% endblock %}

{% block navbar %}
    {% include 'navbar_calendar.html' %}
{% endblock %}

{% block content %} 
	<section id="owlcalendar" style="margin-top:85px;">
		{% if festival_list %}
    	<div class="owl-carousel owl-theme">
		{% for festival in festival_list reversed %}
    		{% image festival.main_image height-300 as tmp_photo %}
    		{% with bezig=festival.ongoing %}
    		<!--<a href="?selected={{ festival.pk }}" class="festivalitem">--><!-- non ajax alternative-->
    		<a href="{{ festival.pk }}" class="festivalitem">
	    		<div class="item" style="height:250px; background: url({{ tmp_photo.url }}); background-size: auto 100%;
						background-repeat: no-repeat; background-position: center center; {% if selected.pk != festival.pk %}opacity: 0.3;{% endif %}">
	    			<time datetime="{{ festival.date }}" class="icon">
	    				{% if festival.duration == 1 %}
	    					<em>{{ festival.date|date:'l' }}</em>
			                <div class="temm {% if selected.pk != festival.pk %}fa_passive{% else %}fa_active{% endif %}">{{ festival.date|date:'F' }}</div>
			                <span>{{ festival.date|date:'d' }}</span>
		                {% else %}
		                	{% if festival.check_month_span %}
			                	<em>{{ festival.date|date:'D' }} - {{ festival.end_date|date:'D' }}</em>
			                	<div class="temm {% if selected.pk != festival.pk %}fa_passive{% else %}fa_active{% endif %}">{{ festival.date|date:'b' }} - {{ festival.end_date|date:'F' }}</div>
			                	<span>{{ festival.date|date:'d' }} - {{ festival.end_date|date:'d' }}</span>
		                	{% else %}
			                	<em>{{ festival.date|date:'D' }} - {{ festival.end_date|date:'D' }}</em>
			                	<div class="temm {% if selected.pk != festival.pk %}fa_passive{% else %}fa_active{% endif %}">{{ festival.date|date:'F' }}</div>
			                	<span>{{ festival.date|date:'d' }} - {{ festival.end_date|date:'d' }}</span>
		                	{% endif %}
		                {% endif %}
	                </time>
	                <div class="fa_name">{{ festival.name }}</div>
	    		</div>
	    	</a>
    		{% endwith %}
		{% endfor %}
    		<a>
	    		<div class="item" style="height:250px; background: url(http://blog.davejohnsonaudio.com/wp-content/uploads/2012/09/end-of-the-line.jpg); background-size: auto 100%;
						background-repeat: no-repeat; background-position: center center; {% if selected.pk != festival.pk %}opacity: 0.3;{% endif %}">
	                <div class="fa_name">Einde van {{ month|date:'F' }} ... </div>
	    		</div>
	    	</a>
	    </div>	
    	{% endif %}
    </section>
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-xs-6">
    		{% if previous_month %}
    			<a class="btn btn-default btn-lg" href="?year={{ previous_month|date:'Y' }}&month={{ previous_month|date:'b' }}">&#10092; Naar {{ previous_month|date:'F' }}</a>
    		{% endif %}
    		</div>
       		<div class="col-xs-6">
       		{% if next_month %}
       			<a class="btn btn-default btn-lg pull-right" href="?year={{ next_month|date:'Y' }}&month={{ next_month|date:'b' }}">Naar {{ next_month|date:'F' }} &#10093;</a>
       		{% endif %}
    		</div>
    	</div>
    </div>

 	<!-- GOOGLE MAPS -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&language=nl&region=BE"></script>
	<script type="text/javascript">
	    var map;
	    var infowindow = new google.maps.InfoWindow({});

	    function initialize(latitude, longitude, name, url) {


	        var styles = [{"featureType": "all","elementType": "all","stylers": [{"hue": "#ff5a00"},{"saturation": "22"},
	            {"lightness": "-1"},{"gamma": "1.00"}]},{"featureType": "road","elementType": "labels.icon","stylers": [
	            {"visibility": "off"}]},{"featureType": "road.highway","elementType": "all","stylers": [{"color": "#ff8b0b"}]},
	            {"featureType": "road.highway","elementType": "geometry.stroke","stylers": [{"visibility": "off"}]},
	            {"featureType": "road.arterial","elementType": "all","stylers": [{"color": "#ff8b0b"}]},{"featureType":     
	            "road.arterial","elementType": "geometry.stroke","stylers": [{"visibility": "off"}]},{
	            "featureType": "road.arterial","elementType": "labels.text.fill","stylers": [{"color": "#ffffff"}]},
	            {"featureType": "road.arterial","elementType": "labels.text.stroke","stylers": [{"color": "#ff8b0b"}, 
	            {"weight": "3.73"}]},{"featureType": "road.arterial","elementType": "labels.icon","stylers": [
	            {"saturation": "-100"},{"lightness": "6"},{"gamma": "2.44"},{"hue": "#ff0000"},{"weight": "3.34"},
	            {"visibility": "off"}]},{"featureType": "road.local","elementType": "geometry.fill","stylers": [
	            {"color": "#ddccc2"}]},{"featureType": "road.local","elementType": "geometry.stroke","stylers": [
	            {"color": "#f5f0eb"},{"lightness": "24"},{"saturation": "39"},{"weight": "0.74"}
	            ]},{"featureType": "road.local","elementType": "labels.text.stroke","stylers": [{"weight": "3.60"},
	            {"color": "#ffffff"}]},{"featureType": "water","elementType": "all","stylers": [{"color": "#39c1bf"}]},
	            {"featureType": "water","elementType": "labels.text.fill","stylers": [{"color": "#ffffff"}]},
	            {"featureType": "water","elementType": "labels.text.stroke","stylers": [{"color": "#39c1bf"}]}];

	        var styledMap = new google.maps.StyledMapType(styles, {name: 'FestivalMap'});

	        geocoder = new google.maps.Geocoder();

	        var latlng = new google.maps.LatLng(latitude, longitude); 
	        var myOptions = {
	            zoom: 8,
	            center: latlng,
	            scrollwheel: false,
	            mapTypeControlOptions: {
	                mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
	            }

	            //mapTypeId: google.maps.MapTypeId.ROADMAP
	        }
	        map = new google.maps.Map(document.getElementById("map"), myOptions);
	         
	        map.mapTypes.set('map_style', styledMap);
	        map.setMapTypeId('map_style');

	        addMarker(latitude, longitude, festname, festurl);  
	    }

	    function addMarker(latitude, longitude, festname, festurl) {
	        var lat = latitude;
	        var lng = longitude;
	        var name = festname;
	        var url = festurl;

	        var myLatlng = new google.maps.LatLng(lat, lng);

	        var contentString = '<div><h6>' + name + '</h6><a href="' + url  + '">Meer details</a></div>'

	        var marker = new google.maps.Marker({
	            position: myLatlng,
	            map: map,
	            title: name
	        });

	        marker['infowindow'] = contentString;

	        google.maps.event.addListener(marker, 'click', function() {
	            infowindow.setContent(this['infowindow']);
	            infowindow.open(map, this);
	        });
	    }
	</script>

	<section id="calendar_item">
    {% if selected == None %}
    	Oeps, er is mss iets mis gegaan ... Excuses! -- Tim C.
    {% else %}
		{% include 'home/festival_content.html' with festival=selected %}
    {% endif  %}
    </section>
    	
{% endblock content %}

{% block extra_js %}
    {# Override this in templates to add extra javascript #}
    	{% compress js %}
	    <!-- OWL CAROUSEL -->
	    <script type="text/javascript" src="{% static 'owl-carousel/owl.carousel.js' %}"></script>
	    <!-- WOW -->
	    <script type="text/javascript" src="{% static 'plugins/WOW/dist/wow.min.js' %}"></script> 
	    <!-- CUSTOM SCRIPTS-->
	   	<script type="text/javascript" src="{% static 'kevin/js/custom.js' %}"></script>
	    <script type="text/javascript" src="{% static 'kevin/js/owlcalendar.js' %}"></script>
	    <script type="text/javascript" src="{% static 'tim/js/custom.js' %}"></script>

	    <!-- jQuery Bar Rating -->
	    <script type="text/javascript" src="{% static 'ratings/js/ratings.js' %}"></script>
	    <script type="text/javascript">
		   	$(function() {
		      	$('#example').barrating({
		      		'theme': 'bars-square',
		      		'showSelectedRating': true,
		      		'showValues': false
		      	});
		   	});
		</script>
	    {% endcompress %}

</script>
{% endblock extra_js %}