{% load rating_tags static comments wagtailuserbar wagtailimages_tags %}

<div id="current_item" style="display: none;">{{ festival.pk }}</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 fa_heading">
            <h1>{{ festival.name }}</h1>
            <div class="col-md-12">
                <i class="fa fa-star fa-2x"></i>
                <i class="fa fa-star fa-2x"></i>
                <i class="fa fa-star fa-2x"></i>
                <i class="fa fa-star fa-2x"></i>
                <i class="fa fa-star-o fa-2x"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 fa_overlay">
            <h4>{{ festival.description|safe }}</h4>
        </div>
        <div class="col-md-4 col-md-offset-1 fa_tickets">
            <button type="button" class="btn btn-success">Koop Tickets</button>
            <a href="#"><i class="fa fa-internet-explorer" aria-hidden="true"></i> Website</a>  |
            <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>  |
            <a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i> Youtube</a><br>
        </div>
    </div>
    <div class="row">
        <div class="fa_calendar_item">
            <div class="row">
                <div class="col-md-6 fa_overlay2">
                    <div id="fa_carousel" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                {% image festival.main_image fill-400x400 as img %}
                                <img src="{{ img.url }}" class="img-responsive img-thumbnail">
                                <div class="carousel-caption">
                                    &copy Joris Claes<br>Werchter 2015
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="col-md-2 fa_overlay2 hidden-xs">
                    <div class="col-md-12 fa_thumbs">
                        {% for image in festival.images.all|slice:':3' %}
                            {% if image %}
                                <img src="{{ image.file.url }}" class="img-responsive img-thumbnail">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4 fa_overlay hidden-xs">
                    <div id="map" class="img-thumbnail" style="height:250px">
                        
                    </div>
                    <h5>
                        <i class="fa fa-map-marker" aria-hidden="true"></i> 
                        Festivalpark Werchter | Haachtsesteenweg, 3118 Werchter
                    </h5>
                </div>
            </div>
            <div class="row">      
                <div class="col-md-4 fa_action">
                    <button type="button" class="btn btn-success">
                        Foto toevoegen
                    </button>
                </div>
                <div class="col-md-4 fa_action text-center">
                    <h5>
                        Al <a href="#">35</a> beoordelingen van onze FestivalAdvisors
                    </h5>
                </div>
                <div class="col-md-4 fa_action">
                    <button type="button" class="btn btn-success">Schrijf een beoordeling</button>
                </div>
            </div>
        </div>
    </div>



    <div class="fa_calendar_item">
        <div class="col-md-12 fa_overlay">
            <div id="fa_carousel" class="carousel slide" data-ride="carousel">
	            <div class="carousel-inner" role="listbox">
	            	{% for im in festival.images.all %}
	            		{% image im.image original as tmp_photo %}
		                <div class="item {% if forloop.first %}active{% endif %}">
		                  	<img src="{{ tmp_photo.url }}" class="img-responsive">
		                </div>
	                {% endfor %}
	          	</div>
            </div>
        </div>          
    </div>
</div>


<div class="container">
    <div class="col-md-4 fa_overlay">
        <div id="map" style="height:250px"></div>
        <h4>{{ festival.location.name|title }}</h4>
        <h4>{{ festival.location.address.city|title }}</h4>
    </div>
</div>

