{% load rating_tags static comments wagtailuserbar wagtailimages_tags %}

<div id="current_item" style="display: none;">{{ festival.pk }}</div>
<div class="container">
    <div class="col-md-12 fa_heading">
        <h1>{{ festival.name }}</h1>
        <div class="col-md-12">
            <i class="fa fa-star fa-2x"></i>
            <i class="fa fa-star fa-2x"></i>
            <i class="fa fa-star fa-2x"></i>
            <i class="fa fa-star fa-2x"></i>
            <i class="fa fa-star-o fa-2x"></i>
        </div>
    </div>

    <div class="col-md-7 fa_overlay">
        <h4>{{ festival.description|safe }}</h4>
    </div>

    <div class="col-md-4 col-md-offset-1 fa_tickets">
        <i class="fa fa-internet-explorer" aria-hidden="true"></i> Website  |
        <i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook  |
        <i class="fa fa-youtube-square" aria-hidden="true"></i> Youtube<br>
        <button type="button" class="btn btn-success">
        	Koop Tickets
        </button>
    </div>

    <div class="fa_calendar_item">
        <div class="col-md-12 fa_overlay">
            <div id="fa_carousel" class="carousel slide" data-ride="carousel">
              	<!-- Wrapper for slides -->
	            <div class="carousel-inner" role="listbox">
	            	{% for im in festival.images.all %}
	            		{% image im.image original as tmp_photo %}
		                <div class="item {% if forloop.first %}active{% endif %}">
		                  	<img src="{{ tmp_photo.url }}" class="img-responsive">
		                  	<!--<div class="carousel-caption">
		                    	&copy Joris Verhoeven - Werchter 2015
		                  	</div>-->
		                </div>
	                {% endfor %}
	          	</div>
            </div>
        </div>          
    </div>
</div>

<div id="demo" class="col-md-12">
	<h1>Artiesten 2016<br></h1>
</div>

<div class="container">
    <div class="col-md-4 fa_overlay">
        <div id="map" style="height:250px"></div>
        <h4>Festivalpark Werchter</h4>
        <h4>Haachtsesteenweg, 3118 Werchter</h4>
    </div>
</div>


