{% extends 'base.html' %}

{% load rating_tags static compress comments wagtailimages_tags %}


{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    	{% compress css %}

	    {% endcompress %}


{% endblock %}

{% block content %} 

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				FESTIVAL PAGE RATING tests:
			</div>
			<div class="col-md-6">
				Aantal votes: {% votes_count page as votes_count %}
				{{ votes_count }}
			</div>
			<div class="col-md-6">
				Score van deze user ({{ user }}): {% user_rating user page %}
			</div>
			<div class="col-md-6">
			</div>
		</div>
	</div>

	<div class="container m-y-lg">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-group">
					{% for festival in festivals %}
				  	<li class="list-group-item">
				    	<span class="badge">{{ festival.duration }}</span>
				    		{{ festival.name }}
				  	</li>
				  	{% endfor %}
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
			{% for festival in festivals %}


				{% image festival.main_image fill-100x100 as tmp_photo %}
				<img src="{{ tmp_photo.url }}" class="img-responsive img-rounded">
				<p>{{ tmp_photo.url }} -- {{ festival }}</p>
			{% endfor %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<nav>
			  		<ul class="pagination">
			    		<li>
			      			<a href="#" aria-label="Previous">
			        			<span aria-hidden="true">&laquo;</span>
			      			</a>
						    </li>
							    <li><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
						    <li>
						    <a href="#" aria-label="Next">
						        <span aria-hidden="true">&raquo;</span>
						    </a>
			    		</li>
			  		</ul>
				</nav>	
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div data-grid="images">
				{% for festival in festivals %}
					{% if festival.main_image %}
						{% image festival.main_image fill-200x100 as tmp_photo %}
							<img src="{{ tmp_photo.url }}" data-width="{{ tmp_photo.width }}" data-height="{{ tmp_photo.height }}">
					{% endif %}
				{% endfor %}
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-md-4">
		    	<div class="panel panel-bold panel-danger">
			      	<div class="panel-body p-b-lg">
				        <h3 class="m-y-0">Rhianna Loud</h3>
				        <p>Released on Dropp 6 weeks early</p>
				        <hr>
				        <p>Rihanna was the first artist to reach out to Dropp to coordinate her leak. We knew it was going to be the largest unofficial album drop in history. We doubled server capacity and made a shit ton of coffee.</p>
			    	</div>
			    </div>
		  	</div>
		  	<div class="col-md-4">
		   		<div class="panel panel-bold panel-info">
		      		<div class="panel-body p-b-lg">
				        <h3 class="m-y-0">Magna Carta</h3>
				        <p>Released on Dropp 8 weeks early</p>
				        <hr>
				        <p>It's the twelfth studio album by American rapper Jay Z. It was made available for free digital download for Samsung customers via the Jay Z Magna Carta app on July 4, 2013 and Dropp just 3 days later.</p>
		      		</div>
		    	</div>
		  	</div>
		  	<div class="col-md-4">
		    	<div class="panel panel-bold panel-danger">
			      	<div class="panel-body p-b-lg">
				        <h3 class="m-y-0">Rhianna Loud</h3>
				        <p>Released on Dropp 6 weeks early</p>
				        <hr>
				        <p>Rihanna was the first artist to reach out to Dropp to coordinate her leak. We knew it was going to be the largest unofficial album drop in history. We doubled server capacity and made a shit ton of coffee.</p>
			    	</div>
			    </div>
		  	</div>
		  	<div class="col-md-4">
		   		<div class="panel panel-bold panel-info">
		      		<div class="panel-body p-b-lg">
				        <h3 class="m-y-0">Magna Carta</h3>
				        <p>Released on Dropp 8 weeks early</p>
				        <hr>
				        <p>It's the twelfth studio album by American rapper Jay Z. It was made available for free digital download for Samsung customers via the Jay Z Magna Carta app on July 4, 2013 and Dropp just 3 days later.</p>
		      		</div>
		    	</div>
		  	</div>
		</div>
		<div class="row">
		  	<div class="col-md-6">
		    	<div class="panel panel-bold panel-success">
			      	<div class="panel-body p-b-lg">
				        <h3 class="m-y-0">Rhianna Loud</h3>
				        <p>Released on Dropp 6 weeks early</p>
				        <hr>
				        <p>Rihanna was the first artist to reach out to Dropp to coordinate her leak. We knew it was going to be the largest unofficial album drop in history. We doubled server capacity and made a shit ton of coffee.</p>
			    	</div>
			    </div>
		  	</div>
		  	<div class="col-md-6">
		   		<div class="panel panel-bold panel-primary">
		      		<div class="panel-body p-b-lg">
				        <h3 class="m-y-0">Magna Carta</h3>
				        <p>Released on Dropp 8 weeks early</p>
				        <hr>
				        <p>It's the twelfth studio album by American rapper Jay Z. It was made available for free digital download for Samsung customers via the Jay Z Magna Carta app on July 4, 2013 and Dropp just 3 days later.</p>
		      		</div>
		    	</div>
		  	</div>
		  	<div class="col-md-6">
		   		<div class="panel panel-bold panel-warning">
		      		<div class="panel-body p-b-lg">
				        <h3 class="m-y-0">Magna Carta</h3>
				        <p>Released on Dropp 8 weeks early</p>
				        <hr>
				        <p>It's the twelfth studio album by American rapper Jay Z. It was made available for free digital download for Samsung customers via the Jay Z Magna Carta app on July 4, 2013 and Dropp just 3 days later.</p>
		      		</div>
		    	</div>
		  	</div>
		</div>
	</div>
	</div>



{% endblock content %}

{% block extra_js %}
    {# Override this in templates to add extra javascript #}
    	{% compress js %}
    	<!--<script type="text/javascript">
    		$(window).on('load', function() {

    			console.log('ready')
				$('.images2').imageGrid();
				console.log('ready')

    		});
    	</script>-->

	    {% endcompress %}
{% endblock extra_js %}