{% load wagtailcore_tags wagtailimages_tags %}

{% if related_festivals %}
	{% for festival in related_festivals %}
		{% image festival.main_image fill-300x300 as img %}
		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<figure class="effect-bubba">
				<img class="img-responsive" src="{{ img.file.url }}">
				<figcaption class="effect-1">
					<p><b>{{ festival.name }}</b></p>
				</figcaption>
			</figure>
		</div>
	{% endfor %}
{% else %}
	<p>Er werden geen andere festivals gevonden met de tag <b>{{ tag }} ...</b></p>
{% endif %}
