{% load comments widget_tweaks %}

{% if user.is_authenticated %}
	{% get_comment_form for page as form %}
	<form action="{% comment_form_target %}" method="POST" id="commentform">
	    {% csrf_token %}
        <div class="form-group">
            {% render_field form.title class+='form-control' placeholder='Titel' %}
        </div>
        <div class="form-group">
        	{% render_field form.comment class+='form-control' placeholder='Laat weten wat je van dit festival vindt!' %}
        </div>
        {% render_field form.honeypot class+='hidden' %}
	    {{ form.content_type }}
	    {{ form.object_pk }}
	    {{ form.timestamp }}
	    {{ form.security_hash }}
	    <!--<input type="hidden" name="next" value="#" />-->
	    <input type="submit" class="btn btn-lg btn-primary" value="Plaatsen" id="commentsubmit">
    </form>
{% else %}
	<p>Je moet ingelogd zijn om commentaar te geven!</p>
{% endif %}