/*
 * CSS voor de festivaladvisor website
 */

 .navbar-brand {
 	text-shadow: 1px 1px 1px #333;
 }

 .btn-success {
 	background-color: #77933C;
 	border: 1px solid #333;
 }

 .btn-success {
 	background-color: #33933C;
  	border: 1px solid #33933C;
 }

 .fad-points {
 	color: #FFF;
 	text-shadow: 2px 2px 2px #333;
 	font-size: 20px;
 	font-weight: bold;
 }

 .app-graph {
  background: rgba(51, 51, 51, 0.67) none repeat scroll 0 0;
  bottom: 0;
}

.block-xs-middle .statcard-desc {
	text-decoration: overline;
	font-size: 15px;
}

.fad-abs {
	position: absolute;
	top: 150px;
	right: 20px;		
}

.block-xs-middle .fa {
	color: #77933C;
	text-shadow: 1px 1px 1px #333;
}

.block-xs-middle .fad-white {
	color: #CCC;
	text-shadow: 1px 1px 1px #333;
}

.carousel-title {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}


/* CSS Owlcarousel */
#owl-demo .item{
  margin: 3px;
}

#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.fad-agenda h3 {
	color: #666;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #77933C;
}

.fad-festitle {
	margin-top: -40px;
	margin-left: 10px;
}

.fad-subtitle {
	margin-left: 10px;
	font-size: 12px;
	margin-top:-5px;
}

.text-primary {
  color: #77933c;
  font-size: 12px;
  font-weight: bold;
  margin-left: 17px;
}


.fad-agenda .fad-block h3 {
	color: #77933C;
	margin-top: 20px;
}

.fad-center {
  text-align: center;
  color: rgba(255,255, 255,0.35);
}

.fad-center:hover {
  text-align: center;
  color: rgba(255,255, 255,0.95);
}