/* Toevoegen van text schaduwen */

h1 {
  text-shadow: 3px 3px 3px #333;
}

#owl-hero .item .caption h6 {
  text-shadow: 3px 3px 3px #333;
}

/* Aanpassen van video settings */

.flex-video {
position: relative;
padding-top: 25px;
padding-bottom: 67.5%;
height: 0;
margin-bottom: 16px;
overflow: hidden;
}
 
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
.flex-video { padding-top: 0; }
}

/* Aanpassen van padding festival line-up sectie */

#portfolio {
  padding: 0px;
  margin-top: -10px;
  border-top: 2px solid #FFF;
}

#portfolio .portfolio-box {
  border: 1px solid #fff;
}

#portfolio .fa-star, #portfolio .fa-star-o {
  color: orange;
}

/* Aanpassen van padding festival line-up sectie */

#testimonials {
  text-align: center;
  text-shadow: 4px 4px 4px #333;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
}

/* Aanpassen van font size footer */


footer h1 {
  font-weight: 300;
  text-shadow: 2px 2px 2px #7f7f7f;
  text-transform: uppercase;
}

footer h1 span {
  font-weight: 500;
}

footer h3 {
  font-weight: 300;
  text-shadow: 2px 2px 2px #7f7f7f;
  text-transform: uppercase;
  color: #FFF;
}

footer h3 span {
  font-weight: 500;
  color: #FFF;
}


/* Aanpassen van "meer festivals" onderdeel */

.meer {
  background-color: #333;
  padding-top: 20px;
  padding-bottom: 20px;
}

.meer2 {
  background: rgba(0, 0, 0, 0) linear-gradient(to right, #5cb85c, orange) repeat scroll 0 0;
  border-top: 1px solid #333;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  padding: 20px;
  text-shadow: 1px 1px 1px #333;
}

/* Aanpassen van "map" onderdeel */

#map {
  border: 4px solid #fff;
  box-shadow: 2px 2px 2px #999;
  height: 500px;
  margin: 0;
  width: 100%;
}

#map h5 {
  margin-top: -10px;
}

.fa-map-marker {
  color: #5cb85c;
}

/* Portfolio effect winston aanpassingen */

.grid figure {
  background: #3085a3 none repeat scroll 0 0;
  cursor: pointer;
  float: left;
  height: auto;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  border: 1px solid #FFF;
}


figure.effect-winston a {
  color: #FFF;
  font-size: 170%;
  margin: 0 10px;
}

.grid h2 {
  color: #FFF;
  text-shadow: 2px 2px 2px #333;
}

#owlcalendar #owlbeoordeling {
  margin-top: 85px;
}

/*#owlcalendar .owl-pagination {
  display: none;
}*/

/* kalender pagina css */

time.icon {
  background-color: #fff;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  display: block;
  font-size: 1em;
  height: 8rem;
  overflow: hidden;
  position: relative;
  width: 8rem;
  margin-bottom: 7px;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 0.9em;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

time.icon .fa_passive {
  background-color: #787878;
  border-bottom: 1px dashed #FFF;
  color: #fff;
  padding: 0.4em 0;
  position: absolute;
  top: 0;
}


time.icon .fa_active {
  background-color: #ffc541;
  border-bottom: 1px dashed #FFF;
  color: #fff;
  padding: 0.4em 0;
  position: absolute;
  top: 0;
}

time.icon em
{
  position: absolute;
  bottom: 0em;
  color: #666;
  font-size: 1.2rem;
  text-transform: uppercase;
}

time.icon span {
  color: #fff;
  font-size: 1.4em;
  letter-spacing: -0.05em;
  padding-top: 1.5em;
  text-shadow: 1px 2px 4px #333;
}

.owl-item {
  margin-top: 10px;
}

.fa_name {
  color: #fff;
  font-size: 21px;
  font-weight: 500;
  margin: 10px;
  position: absolute;
  right: 0;
  text-align: right;
  text-shadow: 1px 1px 1px #333;
  text-transform: uppercase;
  bottom: 0px;
}

.fa_sterren {
  color: #ffc541;
  font-size: 16px;
  font-weight: 500;
  margin: 10px;
  position: absolute;
  right: 0;
  text-align: right;
  text-shadow: 1px 1px 1px #333;
  text-transform: uppercase;
  bottom: 30px;
  text-shadow: 1px 1px 1px #333;
}

.fa_mei {
  background-color: #fd9f1b;
  z-index: 100;
}

/* Calendar item */

#calendar_item .fa-star, #calendar_item .fa-star-o {
  color: #ffc541;
  text-shadow: 3px 3px 3px #666;
}

#calendar_item .fa_overlay {
  color: #FFF;
  font-size: 30px;
  height: auto;
}

#calendar_item .fa_overlay img {
  width: 100%;
}

#calendar_item .carousel-caption {
  color: #fff;
  text-shadow: 1px 1px 1px #333;   
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

#calendar_item .fa_heading {
  margin-bottom: 25px;
}

#calendar_item .fa_heading h1 {
  font-size: 46px;
}


#calendar_item .fa_calendar_item {
  height: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#calendar_item {
  margin-bottom: 0px;
  margin-top: 0px;
}

#calendar_item h4 {
  font-size: 18px;
  text-align: justify;
}

#calendar_item h5 {
  font-size: 16px;
  text-align: center;
}

#calendar_item .fa_bground {
  margin-bottom: 25px;
}

#calendar_item .tab-content {
  background-color: none;
  border: none;
}


.nav-tabs > li {
  float: left;
  padding: 0;
  border-left: 1px solid #CCC;
}

.nav-tabs > li > a {
  border: 1px solid transparent;
  border-radius: 0;
  line-height: 1.42857;
  margin-right: 0;
  font-weight: 500;
  color: #333;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border: none;
  cursor: default;
  background-color: #5cb85c;
  color: #FFF;
}

.nav > li > a:focus, .nav > li > a:hover {
  background-color: #FEFEFE;
  text-decoration: none;
  color: #333;
}

#calendar_item .fa_tickets {
  min-height: 100px;
  margin-top: 40px;
  text-align: center;
}

#calendar_item .fa_tickets button {
  border-radius: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  box-shadow: 1px 1px 1px #333;
}

#calendar_item .fa_tickets .fa {
   color: #5cb85c;
}

/*Tag cloud css */

#demo {
  min-height: 300px;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #ffc541;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

#demo h1 {
  font-size: 25px;
  margin-top: 5px;
}

#calendar_item .fa_overlay .fa-location-arrow {
  color: #333;
}
/* Aanpassen van achtergrondskleur */
body {  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;}

#calendar_item {
  background-color: #EFEFEF;
  padding-bottom: 40px;
}
#calendar_item .fa_overlay2 img {
  width: 100%;
}

.fa_thumbs img {
  margin-bottom: 10px;
}

#calendar_item .col-md-2 {
  padding-left: 0px;
  padding-right: 0px;
}

#calendar_item .fa_action {
  text-align: center;
}

#calendar_item .fa_action button {
  border-radius: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  box-shadow: 1px 1px 1px #333;
}

.fa_action h5 {
  margin-top: 20px;
}

.fa_action a {
  color: #5cb85c;
}

.fa_action a:hover {
  color: #449d44;
  text-decoration: none;
}

#calendar_item .fa_tickets .fa:hover {
   color: #449d44;
}

.fa_tickets a {
  color: #666;
}

.fa_tickets a:hover {
  color: #5cb85c;
  text-decoration: none;
}

#line-up  {
  min-height: 250px;
}



h3, h4, h5 {
  color: #555;
}

#calender_item .fa-2x {
  font-size: 1.4em;
}

#owlbeoordeling .fa_user {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  margin: 10px;
  position: absolute;
  left: 0;
  text-align: left;
  text-shadow: 1px 1px 1px #333;
  text-transform: uppercase;
  bottom: 0px;
  text-shadow: 1px 1px 1px #333;
}

#owlbeoordeling .fa_comment {
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: 2px 2px 2px #333;
  top: 40%;
}

.fa_user .img-circle {
  border: 4px solid #ffc541;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #333;
}

.fa_user2 .img-circle {
  border: 4px solid #5cb85c;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #333;
}
.fa_m-t {
  margin-top: 15px;
}

.fa_m-b {
  margin-bottom: 10px;
}

#beoordeling, #commentaar, #informatie {
  margin-top: 20px;
}

#calendar_item #beoordeling .tab-content {
  background-color: #FFF;
}

.nav-tabs {
  border-bottom: none;
  margin-left: -15px;
}

.fa_box {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #CCC;
}

.fa_box2 {
  padding: 20px;
  border: 1px solid #CCC;
  border-top: none;
}

.fa_box3 {
  padding: 20px;
  border: 3px solid #ffc541;
  margin-top: 20px;
}

.fa_box3 h4 {
  font-weight: 500;
  margin-bottom: 20px;
  margin-right: 10px;
  padding-left: 15px;
  padding-top: 10px;
}

.fa_box4 h4 {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 10px;
  margin-bottom: 20px;
  font-weight: 500;
}

.fa_tabs {
  border: 1px solid #CCC;
}

.fa_sterren2 {
  color: #ffc541;
  font-size: 16px;
  font-weight: 500;
  margin: 10px;
  margin-left: 0px;
  text-shadow: 1px 1px 1px #333;
  text-transform: uppercase;
}

.progress-bar {
  background-color: #5cb85c;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
  color: #fff;
  float: left;
  font-size: 12px;
  height: 100%;
  line-height: 20px;
  text-align: center;
  transition: width 0.6s ease 0s;
  width: 0;
}

.fa_box4 p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-left: -20px;
}

.fa_score {
  font-size: 14px;
  text-align: right;
  margin-right: 2px;
}

#calendar_item .fa_sterren3 .fa-star, #calendar_item .fa_sterren3 .fa-star-o {
  color: #5cb85c;
  text-shadow: 1px 1px 1px #666;
}

#calendar_item .fa_sterren4 .fa-star, #calendar_item .fa_sterren4 .fa-star-o {
  color: #5cb85c;
  font-size: 24px;
  text-shadow: 1px 1px 1px #666;
}

.fa_sterren3 {
  font-size: 16px;
  font-weight: 500;
  margin: 10px 10px 10px 0;
  text-shadow: 1px 1px 1px #333;
  text-transform: uppercase;
}

.fa_sterren4 {
  font-weight: 500;
  margin: 0px;
  text-shadow: 1px 1px 1px #333;
  text-transform: uppercase;
  text-align: center;
}

.fa_nopadding {
  padding-left: 0px;
  padding-right: 0px;
}

#calendar-navigation {
  background-color: #EFEFEF;
  padding-top: 20px;
  margin-top: -37px;
}

/* Search sectie */

#search {
  height: 100px;
}

/* Aanpassen grootte navbar voor toevoegen van search veld */

.navbar-default .navbar-header {
  padding-right: 15px;
  width: auto;
}

@media (max-width: 640px) {
    .owl-pagination {
      display: none;
    }
    #calendar-navigation {
      background-color: #EFEFEF;
      padding-top: 20px;
      margin-top: -10px;
    }
}

/* Toevoegen van search bar margin */

#nav.form-control  {
  background-color: transparent;
  color: #FFF;
}

.form-control::-moz-placeholder {
  color: #DDD;
  opacity: 1;
}

span.input-group-btn button i.fa {
  font-size: 18px;
}

.fa_singlerating {
  color: #FFF;
  font-size: 20px;
  text-align: center;
  margin-left: 20px;
}

.fa_singlerating {
  margin-bottom: 50px;
  text-shadow: 3px 3px 3px #333;
}

.fa_singlerating h2 {
  color: #FFF;
  margin: 0px;
  text-shadow: 3px 3px 3px #333;
  font-size: 27px;
}

.fa_rated {
  text-decoration: underline;
  font-size: 21px;
}

div.related {
  padding-top: 10px;
  padding-bottom: 10px;
}