/* Toevoegen van text schaduwen */

h1 {
  text-shadow: 3px 3px 3px #333;
}

#owl-hero .item .caption h6 {
  text-shadow: 3px 3px 3px #333;
}

/* Aanpassen van video settings */

.flex-video {
position: relative;
padding-top: 25px;
padding-bottom: 67.5%;
height: 0;
margin-bottom: 16px;
overflow: hidden;
}
 
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
.flex-video { padding-top: 0; }
}

/* Aanpassen van padding festival line-up sectie */

#portfolio {
  padding: 0px;
  margin-top: -10px;
  border-top: 2px solid #FFF;
}

#portfolio .portfolio-box {
  border: 1px solid #fff;
}

#portfolio .fa-star, #portfolio .fa-star-o {
  color: orange;
}

/* Aanpassen van padding festival line-up sectie */

#testimonials {
  text-align: center;
  text-shadow: 4px 4px 4px #333;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
}

/* Aanpassen van font size footer */


footer h1 {
  font-weight: 300;
  text-shadow: 2px 2px 2px #7f7f7f;
  text-transform: uppercase;
}

footer h1 span {
  font-weight: bold;
}


/* Aanpassen van "meer festivals" onderdeel */

.meer {
  background-color: #333;
  padding-top: 20px;
  padding-bottom: 20px;
}

.meer2 {
  background: #5cb85c; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #5cb85c , orange); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #5cb85c, orange); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #5cb85c, orange); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #5cb85c , orange); /* Standard syntax */
  border-top: 1px solid #333;
  color: #fff;
  font-family: Verdana;
  font-size: 24px;
  font-style: oblique;
  padding: 20px;
  text-shadow: 1px 1px 1px #333;
}

/* Aanpassen van "map" onderdeel */

#map {
  border: 4px solid #fff;
  box-shadow: 2px 2px 2px #999;
  height: 500px;
  margin: 0;
  width: 100%;
}

#map h5 {
  margin-top: -10px;
}

.fa-map-marker {
  color: #5cb85c;
}

/* Portfolio effect winston aanpassingen */

.grid figure {
  background: #3085a3 none repeat scroll 0 0;
  cursor: pointer;
  float: left;
  height: auto;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  border: 1px solid #FFF;
}


figure.effect-winston a {
  color: #FFF;
  font-size: 170%;
  margin: 0 10px;
}

.grid h2 {
  color: #FFF;
  text-shadow: 2px 2px 2px #333;
}

#owlcalendar {
  margin-top: 85px;
}

#owlcalendar .owl-pagination {
  display: none;
}

/* kalender pagina css */

time.icon {
  background-color: #fff;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  display: block;
  font-size: 1em;
  height: 8rem;
  overflow: hidden;
  position: relative;
  width: 8rem;
  margin-bottom: 7px;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 0.9em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon .fa_passive {
  background-color: #787878;
  border-bottom: 1px dashed #FFF;
  color: #fff;
  padding: 0.4em 0;
  position: absolute;
  top: 0;
}


time.icon .fa_active {
  background-color: #ffc541;
  border-bottom: 1px dashed #FFF;
  color: #fff;
  padding: 0.4em 0;
  position: absolute;
  top: 0;
}

time.icon em
{
  position: absolute;
  bottom: 0em;
  color: #666;
  font-size: 1.2rem;
  text-transform: uppercase;
}

time.icon span {
  color: #fff;
  font-size: 1.4em;
  letter-spacing: -0.05em;
  padding-top: 1.5em;
  text-shadow: 1px 2px 4px #333;
}

.owl-item {
  margin-top: 10px;
}

.fa_name {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  margin: 10px;
  position: absolute;
  right: 0;
  text-align: right;
  text-shadow: 1px 1px 1px #333;
  text-transform: uppercase;
  bottom: 0px;
}

.fa_mei {
  background-color: #fd9f1b;
  z-index: 100;
}

/* Calendar item */

#calendar_item .fa-star, #calendar_item .fa-star-o {
  color: #ffc541;
  text-shadow: 3px 3px 3px #666;
}

#calendar_item .fa_overlay {
  color: #FFF;
  font-size: 30px;
  height: auto;
}

#calendar_item .fa_overlay img {
  width: 100%;
}

#calendar_item .carousel-caption {
  color: #fff;
  text-shadow: 1px 1px 1px #333;   
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

#calendar_item .fa_heading {
  margin-bottom: 25px;
}

#calendar_item .fa_heading h1 {
  font-size: 46px;
}


#calendar_item .fa_calendar_item {
  height: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#calendar_item {
  margin-bottom: 20px;
  margin-top: 25px;
}

#calendar_item h4 {
  font-size: 18px;
  text-align: justify;
}

#calendar_item h5 {
  font-size: 16px;
  text-align: center;
}

#calendar_item .fa_bground {
  margin-bottom: 25px;
}

#calendar_item .tab-content {
  background-color: #ffc541;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  border-top: 2px solid #333;
}

#calendar_item .nav-tabs > li.active > a, #calendar_item .nav-tabs > li.active > a:focus, #calendar_item .nav-tabs > li.active > a:hover {
  background-color: #ffc541; 
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  margin-top: 25px;
  border-bottom: 2px solid #FFF;
}

#calendar_item .nav-tabs > li> a, #calendar_item .nav-tabs > li > a:focus, #calendar_item .nav-tabs > li > a:hover {
  background-color: #FFF; 
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  margin-top: 25px;
  border-bottom: 2px solid #FFF;
}

.nav-tabs > li {
  float: left;
  padding: 0;
}

.nav-tabs > li > a {
  border: 1px solid transparent;
  border-radius: 0;
  line-height: 1.42857;
  margin-right: 0;
}


#calendar_item .fa_tickets {
  min-height: 100px;
  margin-top: 40px;
  text-align: center;
}

#calendar_item .fa_tickets button {
  border-radius: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  box-shadow: 1px 1px 1px #333;
}

#calendar_item .fa_tickets .fa {
   color: #666;
}

/*Tag cloud css */

#demo {
  min-height: 300px;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #ffc541;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

#demo h1 {
  font-size: 25px;
  margin-top: 5px;
}

#calendar_item .fa_overlay .fa-location-arrow {
  color: #333;
}

/* Aanpassen van achtergrondskleur */

body {
  /*background-color: #EFEFEF;*/
  font-family: Tahoma;
}

#calendar_item {
  background-color: #EFEFEF;
}

#calendar_item .fa_overlay2 img {
  width: 100%;
}

.fa_thumbs img {
  margin-bottom: 10px;
}

#calendar_item .col-md-2 {
  padding-left: 0px;
  padding-right: 0px;
}

#calendar_item .fa_action {
  text-align: center;
}

#calendar_item .fa_action button {
  border-radius: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  box-shadow: 1px 1px 1px #333;
}

.fa_action h5 {
  margin-top: 20px;
}

.fa_action a {
  color: #5cb85c;
}

.fa_action a:hover {
  color: #449d44;
  text-decoration: none;
}

#calendar_item .fa_tickets .fa:hover {
   color: #449d44;
}

.fa_tickets a {
  color: #666;
}

.fa_tickets a:hover {
  color: #5cb85c;
  text-decoration: none;
}

#line-up  {
  min-height: 250px;
}

footer {
  margin-top: 100px;
}

h3, h4, h5 {
  color: #555;
}