{% extends "base.html" %}
{% load static wagtailcore_tags compress  %}

{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
        {% compress css %}

        <!-- CUSTOM CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/festivaladvisor.css' %}">
        {% endcompress %}
{% endblock %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
    <div class="container" style="margin-top:94px;">
        <h2>Doorzoek FestivalAdvisor</h2>
        <div class="well well-lg">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <form action="{% url 'search' %}" method="get" class="">
                        <div class="input-group input-group-lg">
                            <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %} class="form-control" placeholder="Geef hier je zoekterm in">
                            <span class="input-group-btn">
                                <input class="btn btn-info" type="submit" value="Zoeken" class="input-group-addon">
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% if search_results %}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                {% for result in search_results %}
                    {% include 'search/search_item.html' with item=result %}
                {% endfor %}
                </div>
            </div>
        </div>

        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
    {% elif search_query %}
        Er werd geen enkel festival teruggevonden met deze zoekterm
    {% endif %}
    </div>
{% endblock %}
