{% load i18n %}
{% load wagtailadmin_tags home_tags %}

{{ self.formset.management_form }}

<fieldset>
    {% if self.formset.non_form_errors %}
        <li class="error-message">
            {% for error in self.formset.non_form_errors %}
                <span>{{ error|escape }}</span>
            {% endfor %}
        </li>
    {% endif %}
    <ul class="fields">
    {% for child in self.children %}
        {% if forloop.first or forloop.counter0|divisibleby:3 %}
            <ul class="field-row">
        {% endif %}
            {% for panel in child.children %}
                {% if forloop.first %}
                    {% for form in panel.bound_field %}
                    <li class="field-col col4 boolean_field">
                        <div class="field">
                        {% with item=form.value %}
                            <label>{% get_attribute item %}:</label>
                        {% endwith %}
                    {% endfor %}
                {% else %}
                            <div class="field-content">
                                <div class="input">
                                    {{ panel.bound_field }}<span></span>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        {% if forloop.counter|divisibleby:3 or forloop.last %}
            </ul>
        {% endif %}
    {% endfor %}
    </ul>
</fieldset>

<script type="text/django-form-template" id="id_{{ self.formset.prefix }}-EMPTY_FORM_TEMPLATE">
{% escapescript %}
{% include "wagtailadmin/edit_handlers/inline_panel_child.html" with child=self.empty_child %}
{% endescapescript %}
</script>


