{% load i18n %}
<li id="inline_child_{{ child.form.prefix }}">
    <ul class="controls">
        <li><button type="button" class="button icon text-replace white icon-bin hover-no" id="{{ child.form.DELETE.id_for_label }}-button" title="{% trans 'Delete' %}">{% trans "Delete" %}</button></li>
    </ul>
    {% for panel in child.children %}
    	--- ({{ forloop.counter }})
    	{% for form in panel.bound_field.form %}
    		{{ form }} zzz ({{ forloop.counter }})<br>
    	{% endfor %}
    {% endfor %}

<hr>

    {% for panel in child.children %}
	 	{% for form in panel.bound_field %}
	 		{{ form.value }}
	 		{{ form.test }}
	 	{% endfor %}
    {% endfor %}

<hr>

    {% for field in child.children %}
	 	{{ field.form.fields }}
    {% endfor %}



</li>