{% load static %}

<html>
	<head>
	    <meta charset="utf-8">
    	<title>star rating with CSS and font-awesome</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'ratings/css/ratings.css' %}">
		<link rel="stylesheet" href="{% static 'ratings/css/br-themes/fontawesome-stars.css' %}">
	</head>
	<body>

		<div class="container" style="margin-top:75px;">
			<div class="row">
				<div class="col-md-3">
					<div id="barrating">
						<form>
							<select id="example">
								<option value="1">slecht</option>
								<option value="2">matig</option>
								<option value="3">ok</option>
								<option value="4">goed</option>
								<option value="5">top</option>
							</select>
							<input class="btn btn-primary btn-xs" type="submit" value="Indienen">
						</form>
					</div>
				</div>
				<div class="col-md-4">
					<div id="barrating">
						<form>
						{{ form }}
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'ratings/js/ratings.js' %}"></script>
	<script type="text/javascript">
	   $(function() {
	      $('#example').barrating({
	        theme: 'fontawesome-stars',
	        initialRating: -1,
	        showSelectedRating: true,

	      });
	   });
	   $(function() {
	      $('#id_score').barrating({
	        theme: 'fontawesome-stars',
	        initialRating: -1,
	        showSelectedRating: true,

	      });
	   });
	</script>
</html>
