{% extends 'base.html' %}

{% load static compress %}

{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    	{% compress css %}
	    <!-- CUSTOM CSS -->
	    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/hovereffects.css' %}">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/festivaladvisor.css' %}">
	    {% endcompress %}
{% endblock %}

{% block body_class %}template-404{% endblock %}

{% block navbar %}
    {% include 'navbar_calendar.html' %}
{% endblock %}

{% block content %}
	<div class="container">
	    <h2>Pagina niet gevonden ....</h2>
	    <p>Er is helaas is fout gelopen, keer <a href="/">hier</a></p> terug naar de startpagina!
	</div>
{% endblock %}
