<footer>
    <div class="container">
        <div class="caption hidden-xs">
            <h1>Festival<span>Advisor</span></h1>
        </div>
        <div class="caption visible-xs">
            <h3>Festival<span>Advisor</span></h3>
        </div>
        <div class="social">
            <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
        </div>
        <h6>&copy; 2016 FestivalAdvisor By ThinkMobile</h6>
    </div>
</footer>