{% load static wagtailcore_tags %}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="{% static 'img/logo/logo.png' %}" class="img-responsive" alt="logo"></a>
        </div>
        <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
            <div class="col-md-8 col-xs-12 nav-wrap">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/" class="page-scroll">Home</a>
                    </li>
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
            <span><i class="fa fa-search"></i></span>
        </button>
      </span>
      <input type="text" class="form-control" placeholder="Search for...">
    </div><!-- /input-group -->
                </ul>

            </div>
            <div class="social-media hidden-sm hidden-xs">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="login">
                            <i class="fa fa-user"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/kalender/overview/">
                            <i class="fa fa-calendar"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- POPOVER LOGGED IN -->
<div id="loginform" class="hidden">
    <form action="#" method="post">
        {% if user.is_authenticated %}
        <div style="width: 16rem;">
            <div>Hallo <b>{{ user }}</b>,
            <br><br>
            Ga verder naar je profiel, of meld je af.
            </div>
            <hr>
            <a href="/user/" id="profilebutton" type="button" class="btn btn-primary">
                Profiel               
            </a>
            <a href="/user/logout/" id="logoutbutton" type="button" class="btn btn-danger">
                Logout               
            </a>
        </div>
        {% else %}
        <div style="width: 19rem;">
            <div>Welkom op <b>FestivalAdvisor</b>!
                <br><br>
                Login in, of meld je aan als nieuwe gebruiker!
            </div>
            <hr>
            <a id="loginbutton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginmodal">
                Inloggen               
            </a>
            <a id="registerbutton" type="button" class="btn btn-danger" data-toggle="modal" data-target="#registermodal">
                Aanmelden
            </a>
        </div>
        {% endif %}
        </div>
    </form>
</div>

<!-- MODAL REGISTER -->
<div id="registermodal" class="modal fade">
</div>