{% load static wagtailcore_tags %}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="width:120px;" class="navbar-brand" href="/"><img src="{% static 'img/logo/logo_inverse.png' %}" class="img-responsive" alt="logo"></a>
        </div>
        <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
            <div class="col-md-8 col-xs-12 nav-wrap">
                <ul class="nav navbar-nav">
                    <li><a href="/" class="page-scroll">Home</a></li>
                    <li><a href="#portfolio" class="page-scroll">FestList</a></li>
                    <li><a href="#map" class="page-scroll">FestiMap</a></li>
                    <li><a href="#testimonials" class="page-scroll">Festimonials</a></li>
                </ul>
            </div>
            <div class="social-media hidden-sm hidden-xs">
                <form class="navbar-form navbar-right" name="query" value="{{ search_query }}" action="{% url 'search' %}" method="get">
                    <div class="input-group" style="margin-top:20px;">
                        <input id="nav" type="text" name="query" class="form-control" placeholder="Zoeken...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" id="login">
                            <i class="fa fa-user"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/kalender/overview/">
                            <i class="fa fa-calendar"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- POPOVER LOGGED IN -->
<div id="loginform" class="hidden">
    <form action="#" method="post">
        {% if user.is_authenticated %}
        <div style="width: 17rem;">
            <div>Hallo <b>{{ user }}</b>,
            <br><br>
            Ga verder naar je profiel, of meld je af.
            </div>
            <hr>
            <a href="/user/" id="profilebutton" type="button" class="btn btn-success">
                Profiel               
            </a>
            <a href="/user/logout/" id="logoutbutton" type="button" class="btn btn-danger">
                Logout               
            </a>
        </div>
        {% else %}
        <div style="width: 21rem;">
            <div>Welkom op <b>FestivalAdvisor</b>!
                <br><br>
                Login in, of meld je aan als nieuwe gebruiker!
            </div>
            <hr>
            <a id="loginbutton" type="button" class="btn btn-success" data-toggle="modal" data-target="#loginmodal">
                Inloggen               
            </a>
            <a id="registerbutton" type="button" class="btn btn-danger" data-toggle="modal" data-target="#registermodal">
                Aanmelden
            </a>
        </div>
        {% endif %}
        </div>
    </form>
</div>

<!-- MODAL LOGIN -->
<div id="loginmodal" class="modal fade">
</div>

<!-- MODAL REGISTER -->
<div id="registermodal" class="modal fade">
</div>

