 {% load static widget_tweaks %}   

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
           <div style="width:22em; margin: 0 auto;">
                <a href="/login/facebook/?next={{ request.path }}">
                    <img class="img-responsive center-block" src="{% static 'assets/fb_register.png' %}">    
                </a>
                <br>
                <!--<img class="img-responsive center-block" src="{% static 'assets/tw_login.png' %}"> 
                twitter nog niet actief ... 
                <br>-->
                <br>
            </div>
            <h5 class="text-center">Of</h5>
            <br>
            <div style="width:22em; margin: 0 auto;">
                <form action="/user/register/?next={{ request.path }}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {% render_field form.email class+="form-control" placeholder="Email adres" %}
                    </div>
                    <div class="form-group">
                        {% render_field form.username class+="form-control" placeholder="Gebruikernaam" %}
                    </div>
                    <div class="form-group">
                        {% render_field form.password1 class+="form-control" placeholder="Wachtwoord" %}
                    </div>
                    <div class="form-group">
                        {% render_field form.password2 class+="form-control" placeholder="Herhaal wachtwoord" %}
                    </div>
                    <input type="submit" class="btn btn-lg btn-primary" value="Aanmelden">
                </form>
            </div>  
        </div>
    </div>
</div>