{% extends 'base.html' %}

{% load static %}

{% block content %}
	
	<div class="container" style="margin-top: 90px;">
		<div class="row">
			<a>Welkom {{ user.get_full_name }}</a>
				{{ user.email }} email<br>
				{{ user.picture }} picture <br>
				{{ user.loser }} loser <br>
				{{ user.loser.favorite_festival }} favoriet

				<br>
				<br>
				{% if visitor %}
					VISITOR
					{{ visitor }}<br>
					{{ visitor.favorite_festival }}
					{{ visitor.picture }}
				{% endif %}
			<br>
		</div>
	</div>

{% endblock content %}