{% extends 'base.html' %}

{% load static compress user_tags rating_tags %}

{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    <!-- BOOTSTRAP DASHBOARD THEME-->
    {% compress css %}
    	<link rel="stylesheet" type="text/css" href="{% static 'plugins/bs-dashboard/css/toolkit-inverse.css' %}">
    {% endcompress %}
{% endblock %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
	<div class="container m-t-lg">
		<div class="dashhead">
		  	<div class="dashhead-titles">
		    	<h3 class="dashhead-subtitle">Dashboards</h3>
		    	<h1 class="dashhead-title">Gebruiker gegevens {% user_stats as user_statistics %}</h1>
		  	</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-lg-4 col-xs-6">
				<div class="statcard statcard-primary p-a-sm m-b">
				  	<h3 class="statcard-number">
				    	{{ user_statistics.total_users }}
				    	<small class="delta-indicator delta-positive"></small>
				  	</h3>
				  	<span class="statcard-desc">Totaal aantal gebruikers</span>
				</div>
			</div>
			<div class="col-lg-4 col-xs-6">
				<div class="statcard statcard-danger p-a-sm m-b">
				  	<h3 class="statcard-number">
				    	 {% total_votes %}
				    	<small class="delta-indicator delta-positive"></small>
				  	</h3>
				  	<span class="statcard-desc">Aantal beoordelingen</span>
				</div>
			</div>
			<div class="col-lg-4 col-xs-6">
				<div class="statcard statcard-success p-a-sm m-b">
				  	<h3 class="statcard-number">
				    	{% last_register %}
				    	<small class="delta-indicator delta-positive"></small>
				  	</h3>
				  	<span class="statcard-desc">Laatste aanmelding</span>
				</div>
			</div>	
		</div>
		<div class="row">
			<div class="col-sm-3 col-xs-4">
				<h4>Facebook gebruikers</h4>
				<div class="m-a">
					<canvas
					    class="ex-graph"
					    width="200" height="200"
					    data-chart="doughnut"
					    data-value="[{ value: {{ user_statistics.fb_users }}, color: '#1bc98e', label: 'FB' }, { value: {{ user_statistics.non_fb_users }}, color: '#e64759', label:'Niet-FB'}]"
					    data-segment-stroke-color="#252830">
					</canvas>
				</div>
			</div>
			<div class="col-sm-3 col-xs-4">
				<h4>Geslacht</h4>
				<div class="m-a">
					<canvas
					    class="ex-graph"
					    width="200" height="200"
					    data-chart="doughnut"
					    data-value="[{ value: {{ user_statistics.male_users }}, color: '#1bc98e', label: 'Man' }, { value: {{ user_statistics.female_users }}, color: '#e64759', label:'Vrouw'}, { value: {{ user_statistics.gender_unknown }}, color: '#e4d836', label:'Onbekend'}]"
					    data-segment-stroke-color="#252830">
					</canvas>
				</div>
			</div>
			<div class="col-sm-3 col-xs-4">
				<h4>Leeftijd</h4>
				<div class="m-a">
					<canvas
					    class="ex-graph"
					    width="200" height="200"
					    data-chart="doughnut"
					    data-value="[{ value: {{ user_statistics.plus_21_users }}, color: '#1bc98e', label: '21+' }, { value: {{ user_statistics.plus_18_users }}, color: '#e64759', label:'18-21'}, { value: {{ user_statistics.plus_13_users }}, color: '#9f86ff', label:'13-18'}, { value: {{ user_statistics.age_unknown }}, color: '#e4d836', label:'Onbekend'}]"
					    data-segment-stroke-color="#252830">
					</canvas>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block extra_js %}
    {# Override this in templates to add extra javascript #}
    	<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.min.js"></script>-->
    	{% compress js %}
    	<!-- CHART JS -->
    	<script type="text/javascript" src="{% static 'plugins/bs-dashboard/js/tablesorter.min.js' %}"></script>
    	<!-- TABLESORTER -->
    	<script type="text/javascript" src="{% static 'plugins/bs-dashboard/js/chart.js' %}"></script>
		<!-- BOOTSTRAP THEME DASHBOARD -->
	    <script type="text/javascript" src="{% static 'plugins/bs-dashboard/js/toolkit.min.js' %}"></script>	   
	    {% endcompress %}
		<script type="text/javascript">
			$(document).ready(function() {
			  	// call the tablesorter plugin
			  	$("[data-sort=table]").tablesorter({
			    	// Sort on the second column, in ascending order
			    	sortList: [[0,0]]
			  	});
			});
		</script>
{% endblock extra_js %}